
bin/win

tmp/win

projects/tmp

projects/eclipse-workspace/.metadata

projects/eclipse-workspace/tests-tlali-osm/Debug

projects/eclipse-workspace/tests-tlali-osm/Release

projects/eclipse-workspace/lib-tlali-osm/Debug

projects/eclipse-workspace/lib-tlali-osm/Release


projects/xcode/lib-tlali-osm.xcworkspace/xcuserdata

projects/xcode/lib-tlali-osm/lib-tlali-osm.xcodeproj/xcuserdata


projects/visual-studio/tests-tlali-osm-win/tests-tlali-osm-win.vcxproj.user

projects/visual-studio/lib-tlali-osm/lib-tlali-osm.vcxproj.user

projects/visual-studio/lib-tlali-osm.suo


rutasManagua.02.afterAllValuesAsCoreLib.bin

rutasManagua.01.beforeAllValuesAsCoreLib.bin

rutasManagua.bin
